{%extends "base.html"%}
{%block nav%}

{%endblock%}

{%block search%}

{%endblock%}

{%block content%}
  <h2 class="color-black sz-20 my-2 my-5 center">Input {{form}} </h2>
  <form method="post" hx-post="{%url 'user_detail' form %}" hx-swap="outerHTML" hx-target="body" hx-push-url="true">
    {%if form.error%}
    <div class="alert alert-danger">
      {{form.error}}
    </div>
    {%endif%}
    {% csrf_token %}
    

    {% if form == "role"%}
    <select name="role" class="form-control p-2">
      <option value="Teacher">Teacher</option>
      <option value="School Administration">School Administration </option>
      <option value="Student">Student</option>
    </select>
    {%else%}
    <input type="text" name={{form}} class="form-control p-3" placeholder={{form}} />
    {%endif%}

    <button type="submit" class="w-100 my-3 color-bg-s color-white button p-2 sz-18 rounded-4">Next</button>
  </form>
  
  {%endblock%}