<div class="row my-3">
    <div class="col sz-20 color-p"> Get REPORT </div>
</div>

<form class="container" method="POST" action="{%url 'generateReport' %}">
    {%csrf_token%}

    <div class="row my-3">
    <div class="col"> Choose Subject </div>
</div>
<select name="subject" class="form-control">
    {%for sub in subjects%}
        <option value="{{sub.id}}">{{sub.name}}</option>
    {%endfor%}
</select>
<div class="row my-3">
    <div class="col"> Choose Class</div>
</div>

<select name="class" class="form-control">
    {%for cl in classes%}
        <option value="{{cl.name}}">{{cl.name}}</option>
    {%endfor%}
</select>

<div class="row my-3">
    <div class="col"> Choose batch </div>
</div>

<select name="batch" class="form-control">
        <option value="A"> A </option>
        <option value="B"> B </option>
        <option value="All"> All </option>
</select>

<div class="row my-3">
    <div class="col"> Choose Term </div>
</div>

<select name="term" class="form-control">
        <option value="First Term"> First </option>
        <option value="Secod Term"> Second </option>
        <option value="Third Term" > Third</option>
        <option value="All"> All </option>
</select>

<div class="my-3">
    <button class="button bg-success color-white rounded-4 p-2 color-p w-100">Generate Report </button>
  </div>
</form>
