<div class="container">
<div class="row justify-content-center sz-16">
    <div class="col-md-4 rounded-3 p-4 color-bg-s color-white m-2 pointer-cursor color-black-hover color-bg-hover no-decoration shadow-sm" hx-get="{% url 'record-list' %}" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
      <i class="fas fa-file-alt sz-24 rounded-4 p-3 px-3 color-bg-white color-s"></i>
      <br />
      <span class="mt-2 inline-block ">Record</span> <br /> <span class="sz-30 inline-block w-100 right"> {{records.count}}
      </span>
    </div>

    <div class="col-md-4  rounded-3 p-4  color-bg-t color-white m-2 pointer-cursor color-black-hover color-bg-hover" hx-get="{% url 'student-list' %}" hx-target="body" hx-swap="outerHTML" hx-push-url="true">
          <i class="fas fa-user-graduate sz-24 sz-24 rounded-4 p-3 px-3 color-bg-white color-t"></i>
          <br />

         <span class="mt-2 inline-block ">Student</span> <br /> <span class="sz-30 inline-block w-100 right">{{students.count}} </span>
    </div>

    <div class="col-md-4 rounded-3 p-4 color-bg-s color-white m-2 pointer-cursor color-black-hover color-bg-hover" hx-get="{% url 'class-list' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true" >
     <i class="fas fa-chalkboard-teacher sz-24 rounded-4 p-3 px-3 color-bg-white color-s"></i>
      <br />

         <span class="mt-2 inline-block ">Class</span>  <br /><span class="sz-30 inline-block w-100 right">{{classes.count}} </span>
    </div>

    <div class="col-md-4  rounded-3 p-4 color-bg-t color-white m-2" hx-get="{% url 'subject-list' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true" >
     <i class="fas fa-book-open sz-24 sz-24 rounded-4 p-3 px-3 color-bg-white color-t"></i>
      <br />

         <span class="mt-2 inline-block ">Subject</span>  <br /><span class="sz-30 inline-block w-100 right"> {{subject.count}}
    </div>

    <div class="col-md-4 center rounded-3 p-4 color-bg-p  color-white m-2 pointer-cursor color-black-hover color-bg-hover" hx-get="{% url 'generateReport' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true" >
     <i class="fas fa-chalkboard-teacher sz-24"></i>
      <br />
         Report
    </div>

    
</div>
<br />

<div class="row justify-content-center d-none">
      <div class="col-5 pointer-cursor border p-4 m-2" hx-get="{% url 'form' 'record' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true">          Add Record
     </div>

     <div class="col-5 pointer-cursor border p-4 m-2" hx-get="{% url 'form' 'subject' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true">
          Add Subject
     </div>

     <div class="col-5 pointer-cursor border p-4 m-2" hx-get="{% url 'form' 'class' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true">
          Add Class
     </div>

     <div class="col-5 pointer-cursor border p-4 m-2" hx-get="{% url 'form' 'student' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true">
          Add Student
     </div>

     <div class="col-5 pointer-cursor border p-4 m-2" hx-get="{% url 'form' 'student-record' %}" hx-target="#load-area" hx-swap="innerHTML" hx-push-url="true">
          Add Student Record
     </div>


</div>
</div>