{%extends "base.html"%}
{%block nav%}

{%endblock%}

{%block search%}

{%endblock%}

{%block content%}
<br />
  <h2 class="color-black sz-20 my-2 my-5 center">Login</h2>
  <form method="post">
    {% csrf_token %}
    
    <input type="text" name="username" class="form-control p-3" placeholder="Username"><br><br>

    
    <input class="form-control p-3" type="password" name="password" placeholder="Password"><br>

    <button type="submit" class="w-100 my-3 color-bg-p color-white button p-2 sz-18 rounded-4">Login </button>
  </form>

  <p class="sz-14 my-2">Don't have an account? <a href="{% url 'signup' %}">Sign up </a></p>
{%endblock%}