  <br />
<div class="row">

{%for rec in record%}
<div class="col-md-6 p-md-3 px-md-4">  
   <div class="row p-2 color-bg-white {%if partial%} border {%endif%} rounded-3 my-2 mb-4 pointer-cursor sz-12 shadow-sm" hx-get="{% url 'get-record' rec.id %}" hx-target="body" hx-swap="outerHTML" hx-push-url="true" >
    
    {%if not partial%}
       <div class="col-12 my-2 color-black"> 
       Class
       <br />
         <div class=" mt-1 sz-18 color-p ">
         {{rec.class_name}} 
         </div>
       </div>
       {%endif%}
       
        <div class="col-12 my-2">
          Subject
            <br />
         <div class="mt-1  color-p sz-18">
           {{rec.subject}}
           </div>
       </div>
       
 <div class="col-12 my-2">
   Term
       <br />
         <div class="mt-1  color-p sz-18">
          {{rec.title}}
       </div>
       </div>
       
 <div class="col-12 my-2">
   Type
       <br />
         <div class="mt-1  color-p sz-18" style="">
          {{rec.record_type}} {{rec.record_number}}
       </div>
       </div>
       
             <div class="mb-2 color-white color-bg-silver p-2 row rounded">
        <div class="col sz-16 color-black hide "> Record {{forloop.counter}} </div> <div class=" sz-14 col-12"> created {{rec.date_created}} </div>
     </div>
     </div>
    </div>
   {%endfor%}
 </div>