{%extends 'base.html'%}

{%block content%}
<div>
<div class="mt-2 rounded-3 p-2 color-bg-white shadow-sm">
  
  <div class="row align-items-center">
  <div class="col sz-24 bold my-1"> <span class="color-p">{{record.class_name}}</div></span>
  <div class="col right px-3"> <span class="text-danger">{{record.title}}</span></div>
</div>

  <div class="sz-18 mt">  <span class="">{{record.subject}} </span></div>
  <div class="sz-16"> <span class="color-p">{{record.record_type}} {{record.record_number}}</span></div>

  <div class="sz-16 my-3 mt-3">
    <div class="color-grey sz-12">Date & Time </div>{{record.date_created}}</div>
  <div class="my-3 sz-16"> <div class="sz-12 color-grey">Total Number of Student </div>
  {{students.count}} </div>
  <div class="my-3 sz-16"> <div class="color-grey sz-12">Maximum Mark </div> {{record.total_score}}</div>
  </div>


  {%if edit %}
  <div class="row my-2  align-items-center">
  <div class="color-s my-2 col-12"><a href="/admin/record/record/{{record.id}}/change/" target="_blank" class="no-decoration sz-12 border rounded p-2 color-black w-100 inline-block center color-s color-bd-p"> Edit record </a> </div>
  
  <div class="my-2 col-12 right">
    <button class="sz-12 w-100 no-border rounded p-2 btn btn-success" id="addStudent" hx-get="{%url 'addToRecord' record.id%}" hx-target="#addHere">Add student record</button>
  </div>
  </div>
       <div id="addHere"></div>
  {%endif%}
  
{%include 'student-part.html'%}
</div>
{%endblock%}