<br />
<div class="row g-3">

  {% for rec in record %}
  <div class="col-md-6">  
    <div class="row p-3 color-bg-white {% if partial %} border {% endif %} rounded-3 shadow-sm hover-shadow pointer-cursor transition"
         hx-get="{% url 'get-record' rec.id %}" 
         hx-target="body" 
         hx-swap="outerHTML" 
         hx-push-url="true">

      {% if not partial %}
      <div class="col-12 mb-3">
        <span class=" color-t">Class</span>
        <div class="mt-1 sz-16 fw-semibold color-p">
          {{ rec.class_name }}
        </div>
      </div>
      {% endif %}

      <div class="col-12 mb-3">
        <span class="color-t">Subject</span>
        <div class="mt-1 sz-16 fw-semibold color-p">
          {{ rec.subject }}
        </div>
      </div>

      <div class="col-12 mb-3">
        <span class=" color-t">Term</span>
        <div class="mt-1 sz-16 fw-semibold color-p">
          {{ rec.title }}
        </div>
      </div>

      <div class="col-12 mb-3">
        <span class=" color-t">Type</span>
        <div class="mt-1 sz-16 fw-semibold color-p">
          {{ rec.record_type }} {{ rec.record_number }}
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center color-grey rounded p-2 sz-14 shadow-sm">
          <span class="color-grey d-none">Record {{ forloop.counter }}</span>
          <span class="color-grey">Created {{ rec.date_created }}</span>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>