{% extends 'base.html' %}

{% block content %}
<div class="sz-18 my-2">
    Report for {{ class }} {{batch}} {%if term%} {{term}} {%endif%}<br />
    Subject: {{ subject.name }}<br />
    <span class="sz-12 color-grey">View on desktop to view more clearly</span>
    <br />
    <a href="{% url 'export_report_excel' %}?subject={{ subject.id }}&class={{ class }}&batch={{ batch }}&term={{ term }}&sort={{ sort }}">Download Excel</a>
</div>
<br />

<!-- Sort Button -->
<form hx-post="{% url 'generateReport' %}" hx-target="#report-table" hx-swap="outerHTML">
    {%csrf_token%}
    <input type="hidden" name="subject" value="{{ subject.id }}">
    <input type="hidden" name="class" value="{{ class }}">
    <input type="hidden" name="batch" value="{{batch}}">
     <input type="hidden" name="term" value="{{term}}">
    

 <div class="row m-1 align-items-center">
 <select class="col sz-12 form-control no-order bg-lght"
        name="sort" style="background-color:white" >
  <option value="asc"> Arrange Alphabetically </option>
  <option value="desc"> Arrange by Score </option>
</select>
</div>
    <button class="btn btn-sm my-2 w-100 color-bg-grey color-white" type="submit">
        Apply
    </button>
</form>

<br />
<div id="report-table">
{%include 'report-table.html'%}
</div>
{% endblock %}