<div id="report-table">
<table class="container color-bg-white d-flex overflow-auto">
    {% for student in total_report %}
        {% if student.header %}
            <tr class="p-2 py-4 sz-14 border-bottom color-bg-p color-white">
                <th class="border-end center">S/N</th>
                <th class="p-2">Student</th>
                {% for rec in student.record %}
                    <th class="p-2 border-start">{{ rec.title }} {{ rec.type }} {{rec.number}}</th>
                {% endfor %}
                {%if not term%}
                 <th class="p-2 border-start">First Time Test Total</th>
                <th class="p-2 border-start">First Term Total Score</th>
                 <th class="p-2 border-start">Second Term Test Total</th>
                <th class="p-2 border-start">Second Term Total Score</th>
                 <th class="p-2 border-start">Third term Test Total</th>
                <th class="p-2 border-start">Third term Total Score</th>
                {%endif%}
                 <th class="p-2 border-start"> Total Score </th>
                  <th class="p-2 border-start"> Total Available Score </th>
                <th class="p-2 border-start">Per(%)</th>
            </tr>
        {% else %}
            <tr class="border-bottom">
                <td class="border-end center color-silver center">{{ forloop.counter0 }}</td>
                <td class="border-end p-2">
                  <span hx-get="{% url 'get-student-detail' student.id %}" hx-target="#load-area" hx-swap="innerHTML">{{ student.name|title }}</span>
                {%if All%}
                <i class="color-silver sz-12"> ({{student.class_name}})</i>
                {%endif%}
                </td>

                {% for rec in student.record %}
                    <td class="p-2 border-start border-end center">
                        {% if rec.score == '-' %}
                            <span class="color-grey">-</span>
                        {% else %}
                            {{ rec.score }}
                        {% endif %}
                    </td>
                {% endfor %}
                {%if not term%}
                 <td class="p-2 border-start">{{student.first_term_test_total}}</td>
                <td class="p-2 border-start">{{student.first_term_total_score}}</td>
                 <td class="p-2 border-start">{{student.second_term_test_total}}</td>
                <td class="p-2 border-start">{{student.second_term_total_score}}</td>
                 <td class="p-2 border-start">{{student.third_term_test_total}}</td>
                <td class="p-2 border-start">{{student.third_term_total_score}}</td>
                 {%endif%}
                 
                 <td class="p-2 border-start">{{ student.total_score }} </td>
                  <td class="p-2 border-start">{{ student.total_available_score }} </td>

                <td class="p-2 border-start
                {%if student.percentage <= 39 %}
                bg-danger
                {%elif student.percentage <= 49 %}
                bg-warning
                {%else%}
                bg-success
                {%endif%} center color-white">
                   {{student.percentage}}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>
</div>