{%extends "base.html"%}
{%block nav%}

{%endblock%}

{%block search%}

{%endblock%}

{%block content%}
  <h2 class="color-p sz-20 my-2 mb-3">Create an Account</h2>
  <form method="post">
    {% csrf_token %}
    <label>Username:</label><br>
    <input type="text" name="username" class="form-control"><br><br>

    <label>Password:</label><br>
    <input class="form-control" type="password" name="password"><br>

    <button type="submit" class="w-100 color-bg-s color-white button p-2 rounded-4">Sign Up</button>
  </form>

  <p class="sz-14 my-2">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{%endblock%}