{%extends "base.html"%}
{%block nav%}

{%endblock%}

{%block search%}

{%endblock%}

{%block content%}
<br />
  <h2 class="color-black sz-20 my-2 my-5 center">Create an Account</h2>
  <form method="post">
    {%if form.errors or errors %}
    <div class="alert alert-danger">
      {{form.errors}} {{errors}}
    </div>
    {%endif%}
    {% csrf_token %}
    
    {%for field in form%}
     <div class="my-2 mb-3"><div class="py-2">{{field.label}}</div> {{field}} </div>
    {%endfor%}
    

    <button type="submit" class="w-100 my-3 color-bg-s color-white button p-2 sz-18 rounded-4">Sign Up</button>
  </form>

  <p class="sz-14 my-2">Already have an account? <a href="{% url 'login' %}">Login here</a></p>
{%endblock%}