{%extends 'base.html'%}

{%block content%}
<div>

    <!-- Student Icon -->
  <div class="row mb-3">
    <div class="col text-center">
      <i class="fas fa-user-graduate color-t bg-white rounded-circle p-4 shadow-sm fs-1"></i>
    </div>
  </div>

  <!-- Student Info -->
  <div class="row mb-3">
    <div class="col text-center">
      <h4 class="fw-bold text-dark sz-24">
        {{ student.name }} 
      </h4>
      <p class="text-muted small mb-0">
        class {{ student.class_name }}
      </p>
    </div>
  </div>

    <div class="row justify-content-center my-2">
    <div class="col text-center">
      <div class="color-s"><a hx-get="{%url 'update-form' 'student' student.id%}" hx-target="#addHere"hx-trigger="click" class="no-decoration bg-danger color-white rounded p-2" target="_blank"> edit student </a> </div>  
    </div>    
  </div>
  
  
    
  <br />
  <div class="my-2 color-p bold"> Records </div>
    <table class="container color-bg-white">
    <tr class="p-2 py-4 sz-14 border-bottom color-bg-p color-white"><th class="border-end center">S/N</th><th class="p-2">Subject</th><th class="center border-start">Term</th><th class="center border-start p-2">Type</th><th class="center border-start p-2">Score</th></tr>
    {% for record in records%}
    <tr class="border-bottom" hx-get="{%url 'update-form' 'student-record' record.id%}" hx-target="#addHere"hx-trigger="click"><td class="border-end center color-silver">{{forloop.counter}}</td><td class="border-end p-2"><span>{{record.record.subject.subject}}</span> </td> <td class="center border-end p-2"> {{record.record.title}}</td> </td> <td class="center border-end p-2"> {{record.record.record_type}} {{record.record.record_number}} </td> </td> <td class="center border-end p-2"> {{record.score}}</td> </tr>
    {%endfor%}    
  </table>
</div>


{%endblock%}