 
    {% for s in student %}
  <div class="row my-2 mb-3 align-items-center">
     <div class="col-1">
        <span class="rounded  color-black p-2">{{forloop.counter}}</span>
     </div>
     <div class="col">
        <div class="row">
           <div class="col sz-16" hx-get="{% url 'get-student-detail' s.id %}"  hx-target="body" hx-swap="outerHTML" hx-push-url="true">
              {{ s.name }}
           </div>
        </div>
        <div class="row">
           <div class="col color-grey sz-12">
              {{s.class_name}}
           </div>
        </div>
     </div>
  </div>
  {%endfor%}
  