<div class="my-3 sz-12 rounded p-3 color-bg-white shadow-sm">
  <form hx-get="{% url 'filter-students' %}"
        hx-swap="innerHTML"
        hx-target="#studentTable">

    <!-- Filter Row -->
    <div class="row align-items-center mb-3">
      <div class="col fw-semibold">Score</div>
      <div class="col">
        <select name="sign" class="form-select sz-12 p-1">
          <option value="">...</option>
          <option>=</option>
          <option>></option>
          <option><</option>
        </select>
      </div>
      <div class="col">
        <select name="score" class="form-select sz-12 p-1">
          <option value="">...</option>
          {% with "1234567890203766"|slice:":10" as dummy_str %}
            {% for i in dummy_str %}
              <option>{{ forloop.counter0 }}</option>
            {% endfor %}
          {% endwith %}
        </select>
      </div>
    </div>

    <!-- Sort Row -->
    <div class="row align-items-center mb-3">
      <div class="col">
        <select class="form-select sz-12"
                name="filter">
          <option>Sort</option>
          <option value="alpha">Arrange Alphabetically</option>
          <option value="score">Arrange by Score</option>
        </select>
      </div>
    </div>

    <!-- Hidden Fields -->
    {% for s in students %}
      <input type="hidden" name="students" value="{{ s.student.id }}" />
    {% endfor %}
    {% if record_list %}
      {% for r in record_list %}
        <input type="hidden" name="record-list" value="{{ r }}" />
      {% endfor %}
    {% endif %}
    <input type="hidden" name="edit" value="{{ edit }}" />
    <input type="hidden" name="record" value="{{ record.id }}" />

    <!-- Apply Button -->
    <div class="text-end mb-3">
      <button class="btn color-bg-s color-white rounded sz-12 px-4 py-2 shadow-sm">
        Apply
      </button>
    </div>

    <!-- Student Table -->
    <div id="studentTable">
      {% include 'students-table.html' %}
    </div>
  </form>
</div>