<div class="container">
    {% for s in student %}
        <div class="row my-2 mb-3 align-items-center" style="min-height: 50px;">
            <!-- Counter -->
            <div class="col-1 d-flex align-items-center justify-content-center">
                <span class="rounded color-grey p-2">
                    {{ forloop.counter }}
                </span>
            </div>

            <!-- Student Info -->
            <div class="col">
                <!-- Student Name -->
                <div class="row align-items-center">
                    <div class="col sz-16 text-truncate" hx-get="{% url 'get-student-detail' s.id %}"  hx-target="body" hx-swap="outerHTML" hx-push-url="true"
                         
                         style="cursor: pointer;">
                        {{ s.name }}
                    </div>
                </div>

                <!-- Class Name -->
                <div class="row align-items-center">
                    <div class="col color-grey sz-12 text-truncate">
                        {{ s.class_name }}
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="text-center text-muted my-4">
            No students found.
        </div>
    {% endfor %}
</div>

<!-- HTMX Target Container (for details) -->
<div id="student-detail"></div>